/*------------------Product Page CSS-----------------*/
.btnmodel
{
	float: right;
    margin-right: 30px;
}

.tabs .tab a
{
	width: 90% !important;
}

#productTab a.active{
	border-bottom: 2px solid #f6b2b5 !important;
}